<div class="container">
    <div class="row vertical-center">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-lg-offset-1 home-container container-new-game">
            <div class="home-container-content">
                <h2>Create New Game</h2>
            </div>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-lg-offset-1 home-container container-join-game">
            <div class="home-container-content">
                <h2>Join Game</h2>
                <form class="join-room">
                    <div class="form-group">
                        <input class="room-id" type="text" name="room_id" placeholder="Room Id" value="">
                    </div>
                    <button type="button" class="btn-join btn btn-primary ">Join <span
                            class="glyphicon glyphicon-arrow-right"></span></button>
                </form>
            </div>
        </div>
    </div>
</div>
