<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
  <body>
    <section class='home-section'>
        <% include home.ejs %>
    </section>
    <section class="waiting-section">
        <% include waiting.ejs %>
    </section>
    <section class='game-section'>
        <% include game.ejs %>
    </section>
    <script type="text/javascript" src="/public/js/index.js"></script>
  </body>
</html>
